// Place all the styles related to the movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.addmovie{
  position: fixed;
  bottom:1%;
  left:1%;
}
.search{
  position: fixed;
  top:1%;
  left:1%;
}
.title{
  position: fixed;
  right:1%;
  

}