// Place all the styles related to the movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
  margin: 0px;
  padding: 0px;
  background-color: black;
  color: #dddddd;
  h1{
    background-color: #222222;
  }
}
.actors{
  width: 595px;
  float: left;
}
.actor_name{
  margin-top: -40px;
  z-index: 9999;
  width: 140px;
  color:#e2e2e2;
  border-radius: 40px;
  padding-left: 10px;
  position: absolute;
  font-family: helvetica;
  background-color: rgba(0,0,0,0.9);
  background-position: 10px 10px;
  font-size: 0.9em;  
}
.iframe_hider{
  iframe{
    display: block;
  }
}
.addmovie{
  right:1%;

}

.trailer{
  background-size: 100% 100%;
  width: 570px;
  margin-left: 0px;
  height: 322px;
  float: left;
  text-align: center;
  background-color: rgba(22,22,22,1);
  padding-top:15px;
  z-index: 99999;

}
.actor{
  float: left;
  height: 278px;
}
.addmovie{
  display: none;
  color:#dddddd;
  position: fixed;
  bottom:1%;
  right:10%;
  .number_field{
    width: 30px;
  }
}
.search{
  display: none;
  color:#cccccc;
  position: fixed;
  top:1%;
  left:1%;
  z-index: 100;
  text-align: left;
}
.title{
  position: relative;
  top: 0px;
  h1{
    padding-left: 200px;
  }


}
.foreground{
  position: fixed;
  top:460px;
  height: 1000px;
  background-color: #202020;
  width: 110vw;
}
#cast_flow{
  position: absolute;
  width: 150px;
  height: 500px;
  left:1px;
  text-align: left;
  top:-100px;

}
.movie{
  position: absolute;
  z-index: 100;
  top:90px; 
}
.movie_info{
  position: absolute;
  top:400px;
  left: 580px;
  min-width: 200px;
  max-width: 555px;
  font-family: helvetica;
  background-color: rgba(0,0,0,0.95);
}
.poster{
  position: absolute;
  width: 200px;
  top:1%;
  left:800px;
  text-align: center;
}
#showtimes-link{
  position: relative;
  width: 150px;
  height: 70px;
  border-color: rgba(255,255,255,0.33)
}
#container{
  position: fixed;
  height: 471px;
  width: 100vw;
  padding: 0px;
  right:1%;
  top:-50px;
  right:0px;
  margin: 0px;
  z-index: -99;

}
#container_cast{
  position: fixed;
  height: 600px;
  width: 40vw;
  padding: 0px;
  right:1%;
  top:-50px;
  right:0px;
  margin: 0px;
  z-index: -99;

}
.search-link{
  position: absolute;
  bottom: 38px;
  width: 100px;
  text-align: center;
  background-color: rgba(0,0,0,0.7);
  border-radius: 5px;
  padding: 10px;  
  z-index: 999999;
  right:1%;

}
